[submodule "pinch"]
	path = libpinch
	url = https://github.com/mhekkel/pinch.git
[submodule "libmcfp"]
	path = libmcfp
	url = https://github.com/mhekkel/libmcfp.git
[submodule "libpinch/"]
	url = https://github.com/mhekkel/libpinch.git
[submodule "libmgui"]
	path = libmgui
	url = https://github.com/mhekkel/libmgui.git
[submodule "libzeep"]
	path = libzeep
	url = https://github.com/mhekkel/libzeep.git
[submodule "mxml"]
	path = libmxml
	url = https://github.com/mhekkel/mxml.git
